<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        .container-fluid {
            padding: 0;
        }

        header, main {
            width: 100%;
        }

        nav {
            width: 100%;
        }

        .content-wrapper {
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 1200px;
            margin: auto;
        }

        #notificationIcon {
            position: relative;
            padding: 10px;
        }

        #notificationBadge {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Library Management System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="AdminDashboard" asp-controller="Admin">Dashboard Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="AddItems" asp-controller="Admin">Add Item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="ViewAllItems" asp-controller="Admin">View All Items</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="PendingReservations" asp-controller="Reservations">Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="IssueReturn">Issue & Return</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Login" asp-controller="Account">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>
        <main role="main" class="pb-3">
            <div class="container content-wrapper">
                @RenderBody()
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
